**/public/uploads/**
**/public/mentor/images/videos/**
**/public/admin/images/uploads/**
**/public/mentor/images/template_examples
**/public/mentor/images/Timeline_Screenshots
**/public/mentor/images/user_resources/**
**/obj
**/*.suo
**/*.sh
**/*.cmd
**/*.DS_Store
**/*.svn
**/.suo
**/*.suo
*.suo
.vs/
.vscode
log.txt

# Node
**/lib-cov
**/*.seed
**/*.log
**/*.csv
!apps/platform/lib/modules/suntrust/*.csv
**/*.dat
**/*.dat.tmp
**/*.out
**/*.pid
**/*.gz
**/pids
**/logs
**/results
**/npm-debug.log
**/node_modules
**/bower_components
*.env
public/assets/lib/src/*
!public/assets/lib/src/*.js
.idea
.vscode
log.txt
